apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Chart.Name }}
  namespace: {{ .Values.namespace }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Chart.Name }}
  template:
    metadata:
      labels:
        app: {{ .Chart.Name }}
    strategy:
      type: RollingUpdate
      rollingUpdate:
         maxSurge: 1            # Number of pods that can be created over the desired number of pods
         maxUnavailable: 1      # Number of pods that can be unavailable during the update
  # Set progress deadline to automatically rollback if rollout is not successful in a given time
    progressDeadlineSeconds: 300
    spec:
      containers:
      - name: {{ .Chart.Name }}
        image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
        ports:
        - containerPort: {{ .Values.service.port }}
