apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
  name: {{ .Chart.Name }}
  namespace: {{ .Values.namespace }}
spec:
  replicas: {{ .Values.replicaCount }}
  strategy:
        canary: # Define the canary strategy
        steps:
        - setWeight: 20 # Send 20% of traffic to the new version
        - pause: { duration: 30s } # Pause for 30 seconds to observe
        - setWeight: 50 # Send 50% traffic
        - pause: { duration: 30s }
  selector:
    matchLabels:
      app: {{ .Chart.Name }}
  template:
    metadata:
      labels:
        app: {{ .Chart.Name }}
    spec:
      containers:
      - name: {{ .Chart.Name }}
        image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
        ports:
        - containerPort: {{ .Values.service.port }}
