apiVersion: v1
kind: Service
metadata:
  name: {{ .Chart.Name }}-active
  namespace: {{ .Values.namespace }}
  labels:
    app: {{ .Chart.Name }}
spec:
  ports:
  - port: {{ .Values.service.port }}
    targetPort: {{ .Values.service.port }}
  selector:
    app: {{ .Chart.Name }}
    rollout: active  # Label to match active rollout
---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Chart.Name }}-preview
  namespace: {{ .Values.namespace }}
  labels:
    app: {{ .Chart.Name }}
spec:
  ports:
  - port: {{ .Values.service.port }}
    targetPort: {{ .Values.service.port }}
  selector:
    app: {{ .Chart.Name }}
    rollout: preview  # Label to match preview rollout
